.loader {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &__text {
    font-size: 50px;
  }
  &__dot {
    font-size: 50px;
  }
  &__dot:nth-of-type(2) {
    animation: 0.5s linear infinite alternate blink;
  }
  &__dot:nth-of-type(3) {
    animation: 0.5s linear 0.35s infinite alternate blink;
  }
  &__dot:nth-of-type(4) {
    animation: 0.5s linear 0.7s infinite alternate blink;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.movies {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  a {
    text-decoration: none;
    color: black;
    width: 45%;
    min-width: 360px;
    max-width: 700px;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3),
      0 -6px 16px -6px rgba(0, 0, 0, 0.025);
    margin: 60px 0px;
    border-radius: 10px;
  }
  a:visited {
    color: black;
  }
}
